@using EncoreLedger.Models
@model Transaction

<h1>Create Transaction</h1>

<form asp-action="Create" method="post">
    @await Html.PartialAsync(partialViewName: "_CreateEdit", Model)

    <div>
        <label>Account</label>
        <select asp-for="AccountID" asp-items="ViewBag.Accounts"></select>
    </div>

    <div class="full-width">
        <label>Notes</label>
        <textarea asp-for="Notes"></textarea>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn-primary">+ Add</button>
    </div>
</form>

<hr />

<h2>Import CSV File</h2>

<form asp-action="Import" method="post" enctype="multipart/form-data">

    <div>
        <label>Account</label>
        <select name="accountId" asp-items="ViewBag.Accounts"></select>
    </div>

    <div>
        <input type="file" name="file" accept=".csv" />
    </div>

    <div class="form-actions">
        <button type="submit" class="btn-primary">Import</button>
    </div>
</form>
