@using EncoreLedger.Models
@model Transaction

<h1>Edit Transaction #@Model.IDTransaction</h1>

<link rel="stylesheet" href="~/css/dashboard.css" />
<link rel="stylesheet" href="~/css/forms.css" />

<div class="form-card">

    <form method="post">

        <input type="hidden" asp-for="IDTransaction" />

        <div class="form-grid">
            @await Html.PartialAsync("_CreateEdit", Model)

            <div class="full-width">
                <label>Notes</label>
                <textarea asp-for="Notes"></textarea>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-primary">Save</button>
            <button type="submit" asp-action="Delete" class="btn-primary">Delete</button>
        </div>

    </form>

</div>