<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Encore Ledger</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2> Encore Ledger </h2>

    <div class="navbar">
        <a asp-controller="Transactions" asp-action="Index">Transactions</a>
        <a asp-controller="Categories" asp-action="Index">Categories</a>
        <a asp-controller="Accounts" asp-action="Index">Accounts</a>
        <a asp-controller="Reports" asp-action="Index">Reports</a>
    </div>

    <div class="main-container">
        @RenderBody()
    </div>

</body>

</html>